.App {
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-color: white;
    border-radius: 50px;
    overflow: visible;

}

.image {
    width: 135px;
    margin: 1px;
    border: 2px solid rgb(110, 64, 194);
    border-radius: 3px;
}

h2 {
    font-family: Verdana;
    color: white;
    text-align: center;
    color: rgb(110, 64, 194);
    font-size: 30px;


}

#ez {
    color: rgb(79, 15, 160);
}

#nothing-here {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
}

.App-light{
    color:#232127;
    position: relative;
}

.App-dark{
    color:#e5e3e8;
    position: relative;
}
